/* You can add global styles to this file, and also import other style files */
// COLORS
$black: #000000;
$white: #ffffff;
$purple-heart: #6633cc;
$geraldine: #f9909a;
$mona-lisa: #fe9a8b;
$meteorite: #412578;
$dolphin: #6d6380;
$manatee: #948da2;

// COLOR USE
$text-color: $dolphin;
$background-color: $white;

$dark-color-text: $meteorite;

$buttons-text-color: $white;

// BREAKPOINTS
$bp-small: 34.375em; // 550px;
$bp-medium: 47.5em; // 760px;
$bp-desktop: 64em; // 1024px;
$bp-wide: 105em; // 1680px;

// FONT
// Open+Sans:400,700|Poppins:400,500,600,700
$font-family: 'Poppins', sans-serif;
$font-family-second: 'Open Sans', sans-serif;
$default-font-size: 1.6rem;

// GRID WIDTHS:
$large-width: 75rem; // 1200px;

// HEIGHTS
$header-height: 6.25rem;

// PADDINGS
$p1: 4px;
$p2: 8px;
$p3: 16px;
$p4: 24px;
$p5: 32px;
$p6: 40px;
$p7: 48px;
$p7: 56px;

// TYPOGRAPHY
$navbar-links-font-size: 1.6rem;

// BASE HTML SETUP
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    font-family: $font-family;
    color: $text-color;
}

body {
    background-color: $background-color;
}

ul {
    list-style-type: none;
}

@mixin respond($breakpoint) {
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: $bp-wide) {
            @content;
        } //1680
    }
    @if $breakpoint == desktop {
        @media only screen and (min-width: $bp-desktop) {
            @content;
        } //1024px;
    }
    @if $breakpoint == tab {
        @media only screen and (min-width: $bp-medium) {
            @content;
        } //760px;
    }
    @if $breakpoint == phone {
        @media only screen and (min-width: $bp-small) {
            @content;
        } //550px;
    }
}
