@import 'styles';

.solution {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: $p3 0;
    border-bottom: 1px solid $theme-hr-color;
    color: $text-color;
    font-size: $medium-font-size;
    &:hover &-label {
        color: $geraldine;
    }
    &:last-child {
        border-bottom: none;
    }
    &-label {
        padding-right: 0.6rem; // color: $purple-heart;
        color: $purple-heart;
        font-weight: 700;
        transition: 0.25s all linear;
    }
    &-buttons-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-button {
        @extend %default-button-styles;
        margin: 0 $p1;
        &:first-child {
            background: $button-light-gradient;
        }
        &:last-child {
            background: $button-light-gradient-reverse;
        }
    }
}
