@import 'styles';
//variables
$font-size: 1.4;

.project {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1024px;
    padding: $p6 $p4;
    margin-right: auto;
    margin-left: auto;
    background-color: $background-color;
    @include respond(tab) {
        grid-template-columns: 1fr 1fr;
    }
    &-image {
        display: block;
        max-width: 300px;
        height: auto;
       margin: $p4 auto;
    }
    &-header {
        width: 100%;
        border-bottom: 2px solid $project-hr-color;
    }
    &-title {
        padding-bottom: $p1;
        font-size: 2.5rem;
        color: $purple-heart;
        text-transform: uppercase;
    }
    &-subtitle {
        padding-bottom: $p1;
        font-size: 1.2rem;
    }
    &-author {
        display: block;
        padding: $p2 0;
    }
    &-button {
        width: 10rem;
        height: 3rem;
        margin: $p2 $p1;
        border: none;
        border-radius: 4px;
        font-family: $font-family-second;
        font-weight: 700;
        color: $buttons-text-color;
    }
    &-add {
        background: $buttons-light-gradient;
    }
    &-column--right {
        padding-left: $p2;
    }
    &-column--left {
        padding-right: $p2;
    }
    &-solutions {
        padding: $p3 0;
    }
}

