<div class="project">
    <div class="project-column--left">
        <img class="project-image" src="https://via.placeholder.com/300" alt="">
        <span class="project-author">Author: Tomek Panczo</span>
            <app-project-tasks></app-project-tasks>
        <button class="project-button project-add">Add your solution</button>
        <button class="project-button project-send">Send your solution</button>
    </div>
    <div class="project-column--right">
        <div class="project-header">
            <h2 class="project-title">Create new project</h2>
            <p class="project-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="project-solutions">
            <app-project-solutions></app-project-solutions>
        </div>
    </div>

</div>


<div>
    Project detail:
    <p>Created at: {{ (project$ | async)?.createdAt }}</p>
    <p>Title: {{ (project$ | async)?.title }}</p>
    <span class="solution-label">JSON:</span>
    <pre>{{ (project$ | async | json) }}</pre>
</div>