@import './../../../styles.scss'; // tu sie zjebał ten import prostszy, przynajmniej u mnie

.header {
    width: 100%;
    background: rgb(102, 51, 204);
    background: linear-gradient(
        180deg,
        rgba(102, 51, 204, 1) 0%,
        rgba(249, 144, 154, 1) 100%
    );
}

.navbar {
    max-width: $large-width;
    margin: 0 auto;

    &-container {
        display: flex;
        justify-content: space-between;
        min-height: $header-height;
        align-content: center;
    }

    &-nav {
        display: flex;
        align-items: center;
    }

    &-item {
        display: inline-block;
        padding-left: $p4;
    }

    &-link {
        align-self: center;
        text-decoration: none;
        color: $white;
        font-size: $navbar-links-font-size;
        font-weight: 500;
        text-transform: uppercase;

        &:hover {
            color: $manatee;
        }
        &:active {
            color: $manatee;
        }
    }

    &-logo {
        align-self: center;
    }
}

.wrapper {
    margin: 0 $p3;
}
